@import "../../Styles/vars.scss";

.road-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: $item-color;
  border-radius: 5px;

  &__title {
    color: $text-color;
    display: block;
    text-align: center;
  }
  &__remove {
    transition: .15s ease-in-out;
    display: block;
    cursor: pointer;

    &:hover{
      background: red;
    }
  }
}
