@import "../../Styles/_vars.scss";

.map {
  padding: 10px;
  width: 100%;
  height: $height-property;
  @media (max-width: 768px) {
    max-width: 60%;
  }
  @media (max-width: 575px) {
    max-width: 100%;
    max-height: $height-property-mobile
  }
}

